@use 'variables';

.m-1 {
  margin: variables.$spacing-small;
}

.m-2 {
  margin: variables.$spacing-medium;
}

.m-3 {
  margin: variables.$spacing-large;
}


.p-1 {
  padding: variables.$spacing-small;
}

.p-2 {
  padding: variables.$spacing-medium;
}

.p-3 {
  padding: variables.$spacing-large;
}


.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}