$primary-color: #3498db;
$secondary-color: #2ecc71;
$third-color: #6c757d;
$fouth-color: #dc3545;
$font-color: #333;
$border-color: #bdc3c7;


$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;


$base-font-size: 16px;
$heading-font-weight: bold;