
// _forms.scss
input, textarea, select {
  padding: $spacing-unit;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  font-size: $font-size-md;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}
